.slider-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  flex-grow: 1;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  grid-area: slider;
  height: 5px;
  width: 300px;
  border-radius: 10px;
}

.slider::-webkit-slider-runnable-track {
}

.slider::-moz-range-track {
}

.progress {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
