.sidebar {
  grid-area: sidebar;
  background-color: #333842;

  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;

  height: fit-content;
  padding: 15px 0;
}

.sidebar-items-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  border-left: rgb(0, 0, 0, 0) 1px solid;

  display: flex;
  padding: 10px 20px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
}

.active {
  opacity: 1;
  border-left: #ff9696 1px solid;
  background-color: #3c424d;
}