.main-image-wrapper {
  grid-area: image;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
} 

.main-image {
  overflow: hidden;
  border-radius: 6px;
}

.main-image img {
  max-height: 100%;
}
