.sidebar {
  grid-area: sidebar;
  background-color: #333842;

  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;

  opacity: 0.4;
  transition: all 0.1s;

  user-select: none;

  cursor: pointer;
  padding: 0.5rem;
  box-sizing: border-box;
}

.sidebar-item:hover, :focus {
  opacity: 1;
  background-color: #3c424d;
  outline: none;
}

.active {
  opacity: 1;
  border-left: #ff9696 1px solid;
  padding-right: calc(0.5rem - 1px);
  background-color: #3c424d;
}

.icon {
  width: 20px;
}
